@font-face {
  font-family: "Cera Pro";
  font-style: normal
  font-weight: 300
  src: local("Cera Pro"),
       url("/fonts/CeraPro-Light.woff2") format("woff2"),
       url("/fonts/CeraPro-Light.woff") format("woff")
}

@font-face {
  font-family: "Cera Pro";
  font-style: normal
  font-weight: 400
  src: local("Cera Pro"),
       url("/fonts/CeraPro-Medium.woff2") format("woff2"),
       url("/fonts/CeraPro-Medium.woff") format("woff")
}

@font-face {
  font-family: "Cera Pro";
  font-style: normal
  font-weight: 500
  src: local("Cera Pro"),
       url("/fonts/CeraPro-Bold.woff2") format("woff2"),
       url("/fonts/CeraPro-Bold.woff") format("woff")
}