header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
}

.bonum_logo {
  background: center/contain no-repeat url(../img/logo_bonum_0.svg);
  height: 20px;
  width: 65px;
  z-index: 1;
}

.brand_name {
  background: center/contain no-repeat url(../img/virna_logo_1.svg);
  height: 16px;
  width: 120px;
  z-index: 1;
}

main {
  position: absolute;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cover {
  width: 1440px;
  height: 677px;
  overflow: hidden;
}

.cover_img {
  width: 100%;
  height: 100%;
}

.sidebar_right {
  background: red;
  width: 325px;
  position: absolute;
  top: 0;
  right: 0;
}